@model restaurant.Models.Ingredient

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}


<div class="content_page">

    <div class="container">
        <h1>Supprimer Ingredient</h1>

        
        <hr />
        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>

                <tr>
                    <th>Type</th>
                    <td>@Html.DisplayFor(model => model.Type)</td>
                </tr>

                <tr>
                    <th>Prix</th>
                    <td>@Html.DisplayFor(model => model.prixUt)</td>
                </tr>


                <tr>
                    <th>Date d'expriration</th>
                    <td>@Html.DisplayFor(model => model.expirationDate)</td>
                </tr>

                <tr>
                    <th>Quantite</th>
                    <td>@Html.DisplayFor(model => model.Quantity)</td>
                </tr>

                


                
            </tbody>
        </table>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
        </div>
        </div>
<script src="~/js/main.js"></script>