@model restaurant.Models.Ingredient

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}

<h1 class="title">Ingredient Details</h1>

<div class="details">
    <table>
        <thead>
            <tr>
                <th colspan="2">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Nom</strong></td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td><strong>Type</strong></td>
                <td>@Html.DisplayFor(model => model.Type)</td>
            </tr>
            <tr>
                <td><strong>Prix Unitaire</strong></td>
                <td>@Html.DisplayFor(model => model.prixUt) DH</td>
            </tr>
            <tr>
                <td><strong>Date d'Expiration</strong></td>
                <td>@Html.DisplayFor(model => model.expirationDate)</td>
            </tr>
            <tr>
                <td><strong>Quantité</strong></td>
                <td>@Html.DisplayFor(model => model.Quantity)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="btn-action">
    
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-edit">Edit</a>
    
    <a asp-action="Index" class="btn btn-back">Back to List</a>
</div>

<script src="~/js/main.js"></script>
