@model IEnumerable<restaurant.Models.Commande>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Date Commande")
            </th>
            <th>
                @Html.DisplayName("Total")
            </th>
            <th>
                @Html.DisplayName("Statut")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
        </tr>
    </thead>
    <tbody>

    @foreach (var item in Model) {
                <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DateCommande)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Total) DH
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Statut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            </tr>

    }
    </tbody>
</table>

<script src="~/js/main.js"></script>
