@model IEnumerable<restaurant.Models.BookingTable>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Id")
            </th>
            <th>
                @Html.DisplayName("Numero Table")
            </th>
            <th>
                @Html.DisplayName("Date debut")
            </th>
            <th>
                @Html.DisplayName("Date Fin")
            </th>
            
            <th>
                @Html.DisplayName("Statut")
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookingDateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDateEnd)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<script src="~/js/main.js"></script>