@model IEnumerable<restaurant.Models.Serveur>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}


<p>
    <a asp-action="Create">Ajouter un serveur</a>
</p>
<div class="table_content">
<table class="table">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prenom
            </th>
            <th>
                Heure Debut
            </th>
            <th>
                Heure Fin
            </th>
                <th>
                    Action
                </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<script src="~/js/main.js"></script>
