@model IEnumerable<restaurant.Models.Plat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layoutDashboard.cshtml";
}

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Image")
            </th>
            <th>
                @Html.DisplayName("Nom")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayName("prix")
            </th>
            <th>
                @Html.DisplayName("Action")
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="\@item.ImagePath" alt="@item.Name" style="width:100px; height:auto;" />
                    }
                    else
                    {
                        <span>No image</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)DH
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/js/main.js"></script>
